/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header__container {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #1e3f72;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem;
  width: 70%;
}

.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.header__input {
  border: none;
  border-radius: .4rem;
  padding: .4rem;
  outline: none;
  font-size: 2vh;
  height: 4vh;
  width: 20vw;
}

.header__button {
  color: white;
  border: 1px solid white;
  border-radius: .4rem;
  background-color: transparent;
  padding: .4rem;
  width: 15vh;
  transition: .2s ease;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__button:hover {
  cursor: pointer;
  background-color: white;
  color: #1e3f72;
}

.add__button {
  width: 25vh;
}

/* MAIN */